.progress {
    width: 100%;
    background-color: var(--color-light);
    position: relative;

    &:before {
        content: attr(data-label);
        position: absolute;
        text-align: center;
        top: var(--space-sm);
        left: 0;
        right: 0;
    }

    .value {
        background-color: var(--color-accent);
        display: inline-block;
        height: 100%;
    }

    .min {
        position: absolute;
        font-size: var(--font-sm);
        left: var(--space-xs);
        bottom: 0;
    }

    .max {
        position: absolute;
        font-size: var(--font-sm);
        right: var(--space-xs);
        bottom: 0;
    }
}
