@import 'base.css';
@import '@picocss/pico';

body {
    padding: var(--space-sm);
}

th, td {
    padding: .1rem .4rem;
}

dt {
    margin-top: var(--space-sm);
    font-weight: bold;
}

.active {
    font-weight: bold;
}
