:root {
    --font-main: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --font-sm: .75rem;
    --font-base: 1rem;

    --color-main: #101318;
    --color-dim: #3e3e3e;
    --color-light: #e1e1e1;
    --color-bg: white;
    --color-accent: #7cf8a1;
    --color-danger: #e97d68;

    --space-xs: .2rem;
	--space-sm: .6rem;
	--space-base: 1rem;
	--space-lg: 1.8rem;
}
